<p>Items from database using Sequel.</p>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= number_to_currency item.price %></td>
    </tr>
  <% end %>
<table>
